<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head'); %>

<body>
    <%- include('../partials/header', {pagina: 'sobre'}); %>
   
   <main>
    <div>
        <h1>sobre mim</h1>
        <p>oi sou o luquinha gameplays</p>
    </div>
   </main>
   
    <%- include('../partials/footer'); %>

</body>
</html>